{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Dashboard CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">LMS</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog' %}">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- CONTENT -->
<div class="container main-content">
   <div class="row g-4">
    {% for blog in blogs %}
    <div class="col-md-4">
        <div class="card blog-card">
            {% if blog.image %}
            <img src="{{ blog.image.url }}" class="card-img-top">
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <p class="card-text">
                    {{ blog.content|truncatechars:120 }}
                </p>
                <a href="{% url 'blog_detail' blog.id %}" class="btn btn-sm">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-white">No posts available</p>
    {% endfor %}
</div>
</div>

</body>
</html>
